<!--
    配置说明：
-->
<appSettings>

  <!--<add key="vs:EnableBrowserLink" value="false"/>
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />-->
  
  <!--<add key="DEFAULTDBID" value="DEFAULT"/>
  <add key="DEFAULTDBDESC" value="系统数据库"/>-->

  <add key="DEFAULTDBID" value="TiMi" />
  <add key="DEFAULTDBDESC" value="System Database" />

  <add key="DBMS" value="MSSQL"/>
  <!--<add key="DBSERVER" value="Server Name=(localdb)\.\iisdb;Database Name=TiMi;User Name=dba;Password=dba" />-->
  <add key="DBSERVER" value="Server Name=(localdb)\MSSQLLocalDB;Database Name=TiMi;User Name=dba;Password=dba" />
  <!--
  
  sqllocaldb i
  
  sqllocaldb share mssqllocaldb iisdb
  
  -->

  <!--Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=master;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False-->

  <!--<add key="DBMS" value="ORACLE"/>
  <add key="DBSERVER" value="Server Name=TiMi;User Name=TMuser;Password=123"/>-->


  <add key="TNS_ADMIN" value="F:\Oracle\product\11.2.0\dbhome_1\NETWORK\ADMIN"/>
</appSettings>


