<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="UtoUpload">
      <section name="uploadParser" type="TIM.T_WEBCTRL.NameValueConfigurationSectionHandler, T_WEBCTRL"/>
      <section name="uploadStreamProvider" type="TIM.T_WEBCTRL.NameValueConfigurationSectionHandler, T_WEBCTRL"/>
      <section name="statusManager" type="TIM.T_WEBCTRL.StatusManagerConfigurationSectionHandler, T_WEBCTRL"/>
    </sectionGroup>
  </configSections>
  <UtoUpload>
    <uploadStreamProvider provider="File" location="~/Run/Upload/" existingAction="Rename" fileNameMethod="Guid"/>
  </UtoUpload>
  <connectionStrings/>
  <appSettings configSource="App.config"/>
  <system.web>
    <sessionState configSource="Session.config"/>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms name=".UTOAUTH" loginUrl="~/T_INDEX/Login.aspx" defaultUrl="~/default.aspx" slidingExpiration="true" protection="All" path="/" timeout="2880" />
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <machineKey validationKey="7B9E867363CEC6DE88414094D060034C2EAC8A2679BD653FF284C3BC07D464ACD101CFAB8B1B72672C207267AAB505775635B28E63DE25F32B0EF5B313F62DB4" decryptionKey="5C255505894DED70FA2539BB56EA9C2FF1509A17682FAEB47E83B76551E21846" validation="SHA1" decryption="AES"/>
    <pages validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Optimization"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
        <add assembly="T_WEBCTRL" namespace="TIM.T_WEBCTRL" tagPrefix="Tim" />
        <add assembly="System.Web.Extensions" namespace="System.Web.UI" tagPrefix="asp"/>
      </controls>
    </pages>
    <!--<customErrors mode="On">
      <error statusCode="404" redirect="~/T_ERRORS/404.html" />
    </customErrors>-->
    <httpModules>
      <add name="RuntimeModule" type="TIM.T_KERNEL.RuntimeModule" />
      <add name="HttpUploadModule" type="TIM.T_WEBCTRL.HttpUploadModule, T_WEBCTRL" />
    </httpModules>
    <httpHandlers>
      <add verb="*" path="DfsFileDownload*.ashx" type="TIM.T_TEMPLET.DFS.DfsFileDownload,T_TEMPLET" />
    </httpHandlers>
    <httpRuntime targetFramework="4.5" maxRequestLength="2097151" executionTimeout="3600" requestPathInvalidCharacters=""/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
  </system.web>
  <location path="default.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="RuntimeModule" type="TIM.T_KERNEL.RuntimeModule" />
      <add name="HttpUploadModule" type="TIM.T_WEBCTRL.HttpUploadModule, T_WEBCTRL" />
    </modules>
    <handlers accessPolicy="Read, Script">
      <add name="DfsFileDownload" verb="*" path="DfsFileDownload*.ashx" type="TIM.T_TEMPLET.DFS.DfsFileDownload,T_TEMPLET" />
    </handlers>
    <!--<httpErrors errorMode="Detailed" existingResponse="Replace" defaultResponseMode="File">
      <remove statusCode="404" />
      <error statusCode="404" path="T_ERRORS\404.html" />
    </httpErrors>-->
    <asp scriptErrorSentToBrowser="true"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"/>
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".exe"/>
      <mimeMap fileExtension=".exe" mimeType="application/octet-stream"/>
    </staticContent>
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <!-- prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it).-->
    <legacyHMACWarning enabled="0"/>
  </runtime>
</configuration>