@charset "utf-8";

html {
    font: normal 14px "寰蒋闆呴粦", Arial;
}

body {
    padding: 0px;
    margin: 0px auto;
    color: #666;
    width: 100%;
    background: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

ul, li, form, dl, dt, dd, div {
    padding: 0px;
    margin: 0px;
}

select, input, textarea {
    border-radius: 0;
    -webkit-border-radius: 0;
    color: #333;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

    input:focus {
        outline: none;
    }

input, button, select, textarea {
    outline: none; /*-webkit-appearance:none;*/ /*寮哄埗鍘婚櫎琛ㄥ崟鑷甫鐨勬牱寮�*/
    font: normal 14px "寰蒋闆呴粦", Arial;
    color: #333;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #333;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #333;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #333;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #333;
}

textarea {
    resize: none; /*-webkit-appearance:none;*/ /*寮哄埗鍘婚櫎textarea鑷甫鐨勬牱寮�*/
}

article, aside, footer, header, nav, section, figure, figcaption {
    display: block;
}
/*html5璁剧疆*/
figure, figcaption {
    margin: 0px;
    padding: 0px;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

img {
    border: none;
    border: 0;
    /*max-width: 100%;*/
    vertical-align: middle;
}

a {
    color: #666;
    text-decoration: none;
}

    a:focus {
        outline: none;
        -moz-outline: none;
    }

    a:hover {
        text-decoration: none;
    }

.clear {
    clear: both;
    height: 0px;
    overflow: hidden;
}

.SinglePage {
    text-align: justify;
    word-wrap: break-word;
    clear: both;
    overflow: hidden;
    font-size: 13px;
    line-height: 24px;
}

.container {
    width: 1200px;
    margin: auto;
}

.Contain {
    width: 100%;
    height: 100%;
    position: fixed;
}

/*Top*/
.Menu {
    width: 159px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding-right: 2px;
    background: url(../images/Menu_bg.jpg) repeat-y left bottom;
    z-index: 100;
}


    .Menu .open_menu {
        width: 0px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background: #87cefa;
        box-shadow: 0px 0 0px #014172;
        z-index: 99;
    }

        .Menu .open_menu a {
            display: block;
            width: 13px;
            height: 60px;
            background: url(../images/open_a.png) no-repeat;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -30px;
        }

            .Menu .open_menu a.on {
                background: url(../images/open_a2.png) no-repeat;
            }

    .Menu .logo {
        width: 100%;
        height: 104px;
        overflow: hidden;
        position: relative;
    }

        .Menu .logo img {
            /*margin: 22px 0 0 10px;*/
            width: 122px;
            height: 46px;
            position: absolute;
            left: 10px;
            top: 30px;
            ;
        }

    .Menu .MenuName {
        overflow: hidden;
        height: 29px;
        line-height: 29px;
        background: url(../images/menuname.png) no-repeat left top;
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
        padding-left: 53px;
    }

    .Menu .bot_img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        text-align: center;
    }

        .Menu .bot_img img {
            width: 51px;
            height: 27px;
            margin-left: 5px;
        }

        .Menu .bot_img p {
            color: #ffffff;
            font-size: 14px;
            padding-top: 15px;
        }

.MenuList {
    height: 500px;
    overflow: hidden;
    overflow-y: visible;
}

    .MenuList.on {
        overflow: inherit;
    }

    .MenuList ul {
    }

    .MenuList > ul {
        background: url(../images/menu_li4.png) no-repeat center top;
    }

    .MenuList ul li {
        position: relative;
    }

        .MenuList ul li i {
            display: inline-block;
            width: 11px;
            height: 10px;
            background: url(../images/jt.png) no-repeat center center;
            right: 20px;
            top: 20px;
            position: absolute;
        }

            .MenuList ul li i.hover {
                background: url(../images/jt2.png) no-repeat center center;
            }

        .MenuList ul li a {
            color: #FFFFFF;
            font-size: 14px;
            display: block;
            line-height: 47px;
            background: url(../images/menu_li4.png) no-repeat center bottom;
            overflow: hidden;
            height: 47px;
        }

            .MenuList ul li a span {
                display: inline-block;
                width: 51px;
                text-align: center;
            }

    .MenuList ul > li > ul.on {
        position: absolute;
        left: 51px;
        top: 0;
        width: 159px;
        display: block;
        /*height: 500px;*/
        background: #035888;
    }

    .MenuList ul > li.hover {
        background: url(../images/menu_li.png) no-repeat center top;
    }

        .MenuList ul > li.hover > a:first-child {
            background: url(../images/menu_li.png) no-repeat center bottom;
        }

    .MenuList ul > li > ul {
        display: none;
    }

        .MenuList ul > li > ul li {
            /*display: none;*/
        }

            .MenuList ul > li > ul li.hover {
                background: url(../images/menu_li3.png) no-repeat center top;
            }

        .MenuList ul > li > ul > li > i {
            top: 12px;
        }

        .MenuList ul > li > ul > li > a {
            padding-left: 48px;
            background: url(../images/menu_li2.png) no-repeat center bottom;
            line-height: 33px;
            height: 33px;
        }

            .MenuList ul > li > ul > li > a:hover, .MenuList ul > li > ul > li > a.on {
                background: #0e335c;
                color: #FFFFFF;
            }

        .MenuList ul > li > ul > li > ul > li > a {
            padding-left: 44px;
            line-height: 35px;
            background: no-repeat;
            height: 35px;
        }

.Content {
    height: 100%;    
    margin-left: 161px;
    /*min-width: 1064px;*/
    width: auto;
    /*background: #e5e5e5;*/
}

.topBar {
    width: 100%;
    height: 107px;
    background: url(../images/Top_bar.jpg) no-repeat left center #005687;
}

    .topBar .BtnList {
        /*float: right;
	margin-top: 40px;
	padding-right: 15px;*/
        position: absolute;
        right: 20px;
        top: 7px;
    }

        .topBar .BtnList li {
            float: left;
            width: 76px;
            height: 18px;
            border: 1px solid #669ab7;
            margin: 0 5px;
        }

            .topBar .BtnList li a {
                color: #99bbcf;
                font-size: 12px;
                display: block;
            }

        .topBar .BtnList em {
            float: left;
            padding: 0 10px;
            color: #1f6b96;
        }

        .topBar .BtnList .li1 {
            width: 16px;
            text-indent: -99999px;
            background: url(../images/btns3.png) no-repeat center center;
        }

        .topBar .BtnList .li2 {
            background: url(../images/btns2.png) no-repeat 56px center;
        }

            .topBar .BtnList .li2 a {
                padding-left: 13px;
                line-height: 18px;
            }

        .topBar .BtnList .li3 a {
            padding-left: 35px;
            background: url(../images/btns.png) no-repeat 13px center;
        }

    .topBar p {
        padding-left: 29px;
        border-bottom: 1px dashed #367aa0;
        color: #99bbcf;
        font-size: 12px;
        height: 37px;
        line-height: 37px;
    }

        .topBar p i {
            color: #1f6b96;
            padding: 0 15px;
        }

    .topBar h3 {
        color: #e7e8ea;
        font-size: 24px;
        margin: 8px 0 0 25px;
        font-family: 'webfont';
    }

        .topBar h3 span {
            font-size: 26px;
        }


.Current {
    padding: 0 40px;
    height: 28px;
    border-bottom: 1px solid #aeaeae;
    box-shadow: 0 0 0 1px 1px #d2d2d2;
    /*margin-bottom: 4px;*/
    position: relative;
    margin: 6px 0 0 7px;
    background: #FFFFFF;
}

    .Current .tab-nav-arrow {
        width: 40px;
        height: 28px;
        display: inline-block;
        position: absolute;
        top: -1px;
    }

    .Current .arrow-left {
        left: 0;
        background: url(../images/jt_nav.png) no-repeat left top;
    }

    .Current .arrow-right {
        right: 0;
        background: url(../images/jt_nav.png) no-repeat right top;
    }

    .Current .tab-nav-wrapper {
        height: 28px;
        line-height: 28px;
    }

        .Current .tab-nav-wrapper li {
            float: left;
            list-style: none;
            position: relative;
            /*border-right:1px solid #d6d7dc ;*/
        }

            .Current .tab-nav-wrapper li span {
                display: block;
                padding: 0 29px 0 13px;
                /*width: 65px;*/
                cursor: pointer;
                color: #666666;
                font-size: 14px;
                border-right: 1px solid #d6d7dc;
            }

            .Current .tab-nav-wrapper li .close_a {
                width: 29px;
                height: 28px;
                display: inline-block;
                text-indent: -99999px;
                background: url(../images/close.png) no-repeat 7px 9px;
                position: absolute;
                right: 0;
                top: 0;
            }

            .Current .tab-nav-wrapper li.active {
                border-color: #00CBFF;
            }

                .Current .tab-nav-wrapper li.active span {
                    color: #333333;
                    background: #87cefa;
                    border-color: #87cefa;
                }

                .Current .tab-nav-wrapper li.active .close_a {
                    background: url(../images/close2.png) no-repeat 7px 9px;
                }

.MainContent {
    width: 100%;
    /*height: 100%;*/
    /*background: #FFFFFF;*/
    /*overflow: visible;*/
    padding: 7px 0 0 7px;
}

.InfoCont {
    padding: 0 0 0 5px;
}

/*SSJK_page*/
.SSJK_page {
    min-width: 1024px;
    width: 100%;
    padding-bottom: 10px;
}

    .SSJK_page .Title {
        background: #87cefa;
        height: 30px;
        line-height: 30px;
        /*line-height: 31px;*/
        text-align: center;
        color: #ffffff;
        font-size: 14px;
        margin: 0 0 7px;
        font-weight: bold;
        font-family: "寰蒋闆呴粦";
    }

        .SSJK_page .Title i {
            padding: 0 8px 0 0;
        }

            .SSJK_page .Title i img {
                width: 16px;
                vertical-align: middle;
            }

    .SSJK_page .BoxItem1 {
        margin-bottom: 9px;
    }

        .SSJK_page .BoxItem1 li {
            position: relative;
            padding: 0 3px;
        }

            .SSJK_page .BoxItem1 li > img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

            .SSJK_page .BoxItem1 li .Cont {
                position: relative;
                background: #FFFFFF;
                box-shadow: 3px 3px 3px #aaaaaa;
                -moz-box-shadow: 3px 3px 3px #aaaaaa;
                -webkit-box-shadow: 3px 3px 3px #aaaaaa;
                -o-box-shadow: 3px 3px 3px #aaaaaa;
            }

            .SSJK_page .BoxItem1 li h3 {
                color: #333333;
                font-size: 16px;
                font-weight: bold;
                font-family: "寰蒋闆呴粦";
                text-align: center;
                height: 44px;
                line-height: 44px;
                border-bottom: 1px solid #dcdcdc;
                margin-bottom: 50px;
            }

                .SSJK_page .BoxItem1 li h3 i {
                    margin-right: 15px;
                }

            .SSJK_page .BoxItem1 li .dl1 {
                position: absolute;
                right: 0;
                top: 15px;
            }

                .SSJK_page .BoxItem1 li .dl1 a {
                    padding: 0 24px;
                    color: #a7b2c0;
                    font-size: 12px;
                    background: url(../images/tip_icon1.png) no-repeat left center;
                }

                    .SSJK_page .BoxItem1 li .dl1 a:first-child {
                        background: url(../images/tip_icon2.png) no-repeat left center;
                    }

            .SSJK_page .BoxItem1 li .dl2 {
                position: absolute;
                right: 25px;
                top: 15px;
            }

                .SSJK_page .BoxItem1 li .dl2 a {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    text-align: center;
                    line-height: 30px;
                    color: #a7b2c0;
                    font-size: 12px;
                    background: url(../images/cic_bg.png) no-repeat;
                    margin: 0 3px;
                }

            .SSJK_page .BoxItem1 li .txt img {
                width: 100%;
            }

    .SSJK_page .BoxItem2 {
        overflow: hidden;
    }

        .SSJK_page .BoxItem2 li {
            padding: 0 3px;
            position: relative;
            z-index: 2;
            margin-bottom: 8px;
        }

            .SSJK_page .BoxItem2 li > img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
            }

            .SSJK_page .BoxItem2 li .Cont {
                padding-bottom: 2px;
                background: #FFFFFF;
                box-shadow: 3px 3px 3px #aaaaaa;
                -moz-box-shadow: 3px 3px 3px #aaaaaa;
                -webkit-box-shadow: 3px 3px 3px #aaaaaa;
                -o-box-shadow: 3px 3px 3px #aaaaaa;
            }

            .SSJK_page .BoxItem2 li h3 {
                color: #333333;
                font-size: 16px;
                font-weight: bold;
                font-family: "寰蒋闆呴粦";
                text-align: center;
                height: 47px;
                line-height: 47px;
                border-bottom: 1px solid #dcdcdc;
                margin-bottom: 5px;
            }

                .SSJK_page .BoxItem2 li h3 i {
                    margin-right: 15px;
                }

            .SSJK_page .BoxItem2 li .dl1 {
                position: absolute;
                right: 0;
                top: 15px;
            }

                .SSJK_page .BoxItem2 li .dl1 a {
                    padding: 0 24px 0 15px;
                    color: #333333;
                    font-size: 12px;
                    background: url(../images/tip_icon3.png) no-repeat left center;
                }

                    .SSJK_page .BoxItem2 li .dl1 a:first-child {
                        background: url(../images/tip_icon2.png) no-repeat left center;
                    }

                        .SSJK_page .BoxItem2 li .dl1 a:first-child + a {
                            background: url(../images/tip_icon1.png) no-repeat left center;
                        }

        .SSJK_page .BoxItem2 .histogram {
            overflow: hidden;
            margin-bottom: 24px;
            text-align: center;
        }

        .SSJK_page .BoxItem2 .histogram_dl {
            width: 16%;
            display: inline-block;
            min-width: 60px;
        }

        .SSJK_page .BoxItem2 .histogram2 .histogram_dl {
            width: 20%;
        }

        .SSJK_page .BoxItem2 .histogram_dl dt {
            margin-bottom: 5px;
        }

        .SSJK_page .BoxItem2 .histogram_dl dd {
            color: #333333;
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

            .SSJK_page .BoxItem2 .histogram_dl dd i {
                margin-right: 7px;
                display: inline-block;
                width: 12px;
                height: 12px;
                background: url("../images/ct10.png") no-repeat center;
                vertical-align: middle;
            }

        .SSJK_page .BoxItem2 .histogram_dl:hover dd i {
            background: url("../images/ct9.png") no-repeat center;
        }

        .SSJK_page .BoxItem2 table {
            width: 99.5%;
            height: 100%;
            margin: auto;
        }

            .SSJK_page .BoxItem2 table th {
                background: url(../images/sx_icon.png) no-repeat right center #e5e5e5;
                height: 52px;
                color: #333333;
                font-size: 14px;
                text-align: center;
                font-weight: normal;
            }

            .SSJK_page .BoxItem2 table td {
                border: 1px solid #f2f2f2;
                border-width: 1px 0 0 1px;
                color: #414141;
                font-size: 14px;
                text-align: center;
                height: 42px;
            }

            .SSJK_page .BoxItem2 table tr th:first-child, .SSJK_page .BoxItem2 table tr td:first-child {
                border-left-width: 0;
            }

    .SSJK_page .BoxItem4 {
        margin-bottom: 7px;
    }

        .SSJK_page .BoxItem4 h3 {
            line-height: 45px;
            height: 45px;
            border-bottom: 1px solid #dcdcdc;
            text-align: center;
            color: #333333;
            font-size: 16px;
        }

            .SSJK_page .BoxItem4 h3 i {
                margin-right: 22px;
            }

        .SSJK_page .BoxItem4 .tips {
            height: 43px;
            line-height: 43px;
            border-bottom: 3px solid #f2f2f2;
            text-align: center;
        }

            .SSJK_page .BoxItem4 .tips a {
                padding: 0 14px;
                margin: 0 1.43%;
                position: relative;
            }

                .SSJK_page .BoxItem4 .tips a:before {
                    content: "";
                    width: 8px;
                    height: 8px;
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    top: 5px;
                    background: #bdbdbd;
                    border-radius: 50%;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -o-border-radius: 50%;
                }

                .SSJK_page .BoxItem4 .tips a:nth-child(1):before {
                    background: #035888;
                }

                .SSJK_page .BoxItem4 .tips a:nth-child(2):before {
                    background: #969696;
                }

                .SSJK_page .BoxItem4 .tips a:nth-child(3):before {
                    background: #2ec0e0;
                }

                .SSJK_page .BoxItem4 .tips a:nth-child(4):before {
                    background: #bdbdbd;
                }

                .SSJK_page .BoxItem4 .tips a:nth-child(5):before {
                    background: #19bded;
                }

                .SSJK_page .BoxItem4 .tips a:nth-child(6):before {
                    background: #8443dd;
                }

                .SSJK_page .BoxItem4 .tips a:nth-child(7):before {
                    background: #5965ff;
                }

        .SSJK_page .BoxItem4 .Cont {
            background: #FFFFFF;
            box-shadow: 3px 3px 3px #aaaaaa;
            -moz-box-shadow: 3px 3px 3px #aaaaaa;
            -webkit-box-shadow: 3px 3px 3px #aaaaaa;
            -o-box-shadow: 3px 3px 3px #aaaaaa;
        }

        .SSJK_page .BoxItem4 .info_txt img {
            width: 100%;
            max-width: 100%;
        }

        .SSJK_page .BoxItem4 li {
            padding: 0 3px;
        }


.ZNJK_page {
    overflow: hidden;
}

    .ZNJK_page .Title {
        background: #87cefa;
        color: #333333;
        font-family: "微软雅黑";
        font-size: 14px;
        font-weight: bold;
        height: 30px;
        line-height: 30px;
        margin: 0 0 7px;
        text-align: center;
    }

        .ZNJK_page .Title i {
            padding: 0 8px 0 11px;
        }

            .ZNJK_page .Title i img {
                width: 16px;
                vertical-align: middle;
            }

    .ZNJK_page ul {
        overflow: hidden;
        margin-bottom: 7px;
    }

    .ZNJK_page li {
        float: left;
        width: 25%;
        padding: 0;
    }

        .ZNJK_page li .Cont {
            width: 99%;
            max-height: 439px;
            height: auto;
            max-width: 435px;
            margin: 0 auto;
            /*background: url(../images/turntable.png) no-repeat;
	background-size:cover;*/
            background: #fbfbfb;
            padding-bottom: 4.4%;
            border: 1px solid #d0d0d0;
            box-shadow: 0 0 3px #d6d6d6;
            -moz-box-shadow: 0 0 3px #d6d6d6;
            -webkit-box-shadow: 0 0 3px #d6d6d6;
            -o-box-shadow: 0 0 3px #d6d6d6;
        }

        .ZNJK_page li h3 {
            color: #333333;
            font-size: 16px;
            text-align: center;
            height: 45px;
            line-height: 45px;
            border-bottom: 1px solid #d0d0d0;
        }

            .ZNJK_page li h3 i {
                margin-right: 1.8%;
                display: inline-block;
                width: 7.2%;
            }

                .ZNJK_page li h3 i img {
                    max-width: 100%;
                }

        .ZNJK_page li .pic {
            text-align: center;
            margin: 6% auto 3.6%;
            width: 55%;
        }

            .ZNJK_page li .pic img {
                max-width: 100%;
            }

        .ZNJK_page li dl {
            overflow: hidden;
            width: 72%;
            margin: 0 auto 4.4%;
        }

            .ZNJK_page li dl dt {
                width: 25%;
                float: left;
                color: #666666;
                font-size: 12px;
                position: relative;
            }

                .ZNJK_page li dl dt b {
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    margin-right: 6px;
                    position: relative;
                    left: 0;
                    top: 2px;
                }

            .ZNJK_page li dl .dt1 b {
                background: #6b1d95;
            }

            .ZNJK_page li dl .dt2 b {
                background: #028e7f;
            }

            .ZNJK_page li dl .dt3 b {
                background: #6a7284;
            }

            .ZNJK_page li dl .dt4 b {
                background: #c0ab45;
            }

        .ZNJK_page li ul {
            overflow: hidden;
            width: 72%;
            margin: 0 auto;
        }

            .ZNJK_page li ul li {
                width: 50%;
                float: left;
                background: none;
                height: auto;
                color: #333333;
                font-size: 16px;
                max-width: none !important;
                min-width: none !important;
                padding: 1% 0;
            }


/*鏂规姝ｇ氦榛戠畝浣�*/
@font-face {
    font-family: 'webfont';
    src: url('../fonts/webfont.eot');
    src: url('../fonts/webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/webfont.woff') format('woff'), url('../fonts/webfont.ttf') format('truetype'), url('../fonts/webfont.svg') format('svg');
    /*font-weight: normal;
    font-style: normal;*/
}
/*鏂规姝ｇ氦榛戠畝浣�*/

@media screen and (max-width:1200px) {
    .ZNJK_page li h3 {
        font-size: 12px;
    }
}
